[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
isort = "<5"
wemake-python-styleguide = "*"
flake8 = "*"
requests = "*"

[packages]
fastapi = "==0.62.0"
pydantic = "==1.7.3"
orjson = "==3.4.4"
sentry-sdk = "==0.19.4"
uvicorn = "==0.12.3"

[requires]
python_version = "3.8"
